body{
    margin: 0;
    background: #f3f3ed;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: #74749e;
}
.logo {
    width: 6%;
    float: right;
}
.logo-holder{
    width: 31%;
    padding-top: 0.4%;
}
.title-holder {
    padding-top: 1%;
    color: white;
    font-family: sans-serif;
}
.searchbox-holder{
    width: 32%;
    padding-top: 1%;
}
.hide,.hum-icon{
    display: none;
}
form{
   float: right;
}
a{
    text-decoration: none;
    color: black;
}
main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1%;
}
.questions-holder,.feeds{
    width: 25%;
    text-align: center;
    font-family: sans-serif;
    font-size: 19px;
    border: 1px solid #b9aeae;
    box-shadow: 1px 1px 8px 0px;
    background: white;
}
.meetup-holder{
    width: 43%;
    text-align: center;
    font-family: sans-serif;
    font-size: 19px;
    border: 1px solid #b9aeae;
    box-shadow: 1px 1px 8px 0px;
    margin: 0 3%;
    background: white;
}
.profile-name-holder{
    cursor: pointer;
    font-family: sans-serif;
    color: white;
    font-size: 13px;
    padding-top: 2%;
}
.form input{
    padding: 1%;
    margin: 1%;
}
.form{
    float: none;
}
.profile-pic-holder{
    padding-top: 1%;
    width: 10%;
    margin-top: 1;
}
.circular-holder{
    border: 1px solid #ff000000;
    float: right;
    overflow: hidden;
    overflow: none;
    border-radius: 50%;
    width: 50px;
    height: 43px;
}
.profile-pic{
    width: 54px;;
    float: right;
}
.change-full-profile{
    position: absolute;
    float: right;
    margin: 85px 70%;
    background: #0000005e;
    padding: 5%;
}

.hum-icon{
    display: none;
}
.user{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #f9f9d9;
    box-shadow: 3px 3px 20px 0px #c7c795;
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
    background: #f9f9d9;
    min-height: 19vh;
    padding: 1%;
    margin-bottom: 3%;
}
.meetup-title-holder,.date-holder{
    width: 100%;
}
.meetup-title-holder{
    text-align: initial;
    font-size: 14px;
    padding-left: 1%;
    text-align: center;
    text-decoration: underline;
}
.meetup-details{
    width: 100%;
    text-align: justify;
}
.date-holder {
    margin-top: 2%;
    font-size: 14px;
    text-align: right;
    display: flex;
    flex-wrap: wrap;
}
.icons-holder{
    width: 47%
}
.delete-holder{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.btn-one{
    margin-left: 2%;
    width: 10%;
}
.btn-two{
    width: 100%;
}
.delete{
    background: red;
    width: 23%;
    padding: 2%;
    font-size: 10px;
}
.attend,.maybe,.not-attend{
    width: 116%;
    padding: 12%;
    margin-top: 20%;
    background: #464646;
}
.meetup-image{
    width: 10%;
}
.meet-up-image{
    width: 88%;
}
.meetup-date-holder{
    width: 87%;
}
.fa-tag {
    font-weight: 900;
    margin-right: 3%;
}
.view-qns {
    background: #09a209;
    width: 19%;
    padding: 2%;
}
button {
    color: #fff !important;
    text-transform: uppercase;
    background: #5a5a59;
    padding: 20px;
    border-radius: 5px;
    border: none;
    width: 45%;
    padding: 6%;
    margin-left: 32%;
    font-size: 10px;
}
a{
    text-decoration: none;
    color: white;
}
.comments{
    background: #6b6b6b;
    width: 59%;
    padding: 6%;
    margin-bottom: 6%;
}
.btn-one-view{
    width: 50%;
}
.hide-item-view{
    display: none;
}


@media screen and (min-width: 1280px) {
    .questions-holder,.feeds,.meetup-holder{
        min-height: 90vh;
    }
    .hum-icon{
        display: none;
    }
    .add-meetup{
        display: none;
    }
  }

@media screen and (max-width: 1280px) {
    .logo-holder {
        padding-top: 1%;
        width: 26%;
    }
    .logo {
        width: 10%;
    }
    .title-holder {
        padding-top: 2%;
    }
    .searchbox-holder {
        width: 38%;
        padding-top: 3%;
    }
    
  }

@media screen and (max-width: 800px) {
    .logo {
        width: 70%;
        margin-top: 23%;
    }
    .logo-holder {
        width: 10%;
    }
    .title-holder {
        padding-top: 4%;
        font-size: 26px;
    }
    
    .searchbox-holder {
        display: none;
    }
    .hide{
        display: none;
    }
    .questions-holder, .feeds {
        width: 96%;
        margin: 0 auto;
        text-align: center;
        font-family: sans-serif;
        font-size: 19px;
        border: 1px solid #b9aeae;
        box-shadow: 1px 1px 8px 0px;
        background: white;
    }
    .meetup-holder {
        width: 96%;
        margin: 0 auto;
        text-align: center;
        font-family: sans-serif;
        font-size: 19px;
        border: 1px solid #b9aeae;
        box-shadow: 1px 1px 8px 0px;
        margin: 6% auto;
        background: white;
    }
    .sidenav{
        background: #191818;
        width: 100%;
        position: absolute;
        height: 88vh;
        color: white;
    }
    .profile-name-holder,.profile-pic-holder{
        display: none;
    }
    .fa{
        cursor: pointer;
        float: right;
    }
    .hum-icon{
        display: block;
        width: 60%;
        font-size: 64px;
        padding-top: 5%;
        color: white;
    }
    .circular-container{
        border: 1px solid transparent;
        border-radius: 50%;
        overflow: hidden;
        width: 154px;
        height: 130px;
        margin: 29px auto;
    }
    .my-profile-picture{
        width: 160px;
    }
    .profile-name-container{
        text-align: center;
    }
  }
@media screen and (max-width: 480px) {
    .logo {
        width: 70%;
        margin-top: 23%;
    }
    .logo-holder {
        width: 10%;
    }
    .title-holder {
        padding-top: 2%;
        font-size: 15px;
    }
    
    .searchbox-holder {
        display: none;
    }
    .hide{
        display: none;
    }
    .questions-holder, .feeds {
        width: 100%;
        text-align: center;
        font-family: sans-serif;
        font-size: 19px;
        border: 1px solid #b9aeae;
        box-shadow: 1px 1px 8px 0px;
        background: white;
    }
    .meetup-holder {
        width: 100%;
        text-align: center;
        font-family: sans-serif;
        font-size: 19px;
        border: 1px solid #b9aeae;
        box-shadow: 1px 1px 8px 0px;
        margin: 6% auto;
        background: white;
    }
    .sidenav{
        background: #191818;
        width: 100%;
        position: absolute;
        height: 88vh;
        color: white;
    }
    .profile-name-holder{
        display: none;
    }
    .fa{
        float: right;
    }
    .hum-icon{
        width: 46%;
        font-size: 29px;
        padding-top: 5%;
        color: white;
    }
  }